%tr
  %td= deviating_strategy
  %td= link_to 'Remove Deviating Strategy', scheduler_role_deviating_strategy_path(scheduler.id, role, deviating_strategy), method: :delete, class: 'btn btn-mini btn-warning'