%h3 Deviating Roles and Strategies
%table.table
  %thead
    %tr
      %th Name
      %th Count
      %th Reduced Count
      %th Strategy Set
  %tbody
    =render partial: "/deviation_schedulers/deviating_role", collection: scheduler.roles.sort!
