%div= link_to 'Toggle Editable', '#', method: :get, class: 'btn btn-secondary', id: 'toggle_editable_link'

#roles= render partial: "role_table"
#scheduling_requirements= render "scheduling_requirements/index"
