$('#set').fadeOut();
$('#processing').fadeIn();
$('#processing').append('<p>Your file name will be <%= "#{game.id}-analysis-#{@time}.out" %>. Error file <%= "#{game.id}-analysis-#{@time}-pbs.e" %> will be shown if your scheduled job gets terminanted wrongly. </p>')



