$('#set').fadeOut();
$('#processing').fadeIn();
$('#processing').append('<p>Your file name will be <%= "#{game.id}-analysis-#{@time}.out" %></p>')
// $('#processing').append('<%= link_to "Analysis Folder" , "#{@local_data_path}/out" %>');
// $('#processing a').click(function(event) {
// 	event.preventDefault();
// 	<% if File.exist?("#{@local_path}/#{game.id}-analysis-#{@time}.json") %>
// 		alert("Exist");
// 	<% else %>
// 		alert("The file doesn't exist!");
// 	<% end %>
// });


